[secrets]
; WiFi
wifi_ssid=""
wifi_pwd=""

; DNS
esp_domain_name="esp8266"

; Websocket
broadcast_interval=1000

; NTP
timezone_offset=0

; Sensors
ac_pzem_rx_pin=1
ac_pzem_tx_pin=2
ac_input_pzem_address=0x01
ac_output_pzem_address=0x02
