[secrets]
; WiFi
wifi_ssid=""
wifi_pwd=""

; DNS
esp_domain_name=""

; Webhooks
webhook_endpoint=""
webhook_interval=1000

; NTP
timezone_offset=0

; Sensors
pzem_rx_pin=1
pzem_tx_pin=2
input_ac_pzem_address=0x01
output_ac_pzem_address=0x02