#ifndef STASSID
#define STASSID "WiFi-ssid"
#define STAPSK "WiFi-password"
#endif

#define DOMAIN_NAME "server-domain-name"
#define POST_PZEM_ENDPOINT "pzem-server-endpoint-url"
#define POST_PZEM_INTERVAL 1000

// GPIO pins
#define PZEM_RX_PIN 1
#define PZEM_TX_PIN 2